<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://elfozzy-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://elfozzy-001-site1.itempurl.com:8172/MsDeploy.axd?site=elfozzy-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>elfozzy-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\elfozzy-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProyectoTuTransporteEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProyectoTuTransporte.ProyectoTuTransporteEntities, ProyectoTuTransporte" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProyectoTuTransporteConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5037.site4now.net;Initial Catalog=DB_A33D73_TT;User ID=DB_A33D73_TT_admin;Password=9838366Y2j" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5037.site4now.net;Initial Catalog=DB_A33D73_TT;User ID=DB_A33D73_TT_admin;Password=qwerty123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ProyectoTuTransporteConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5037.site4now.net;Initial Catalog=DB_A33D73_TT;User Id=DB_A33D73_TT_admin;Password=qwerty123456;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>False</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProyectoTuTransporteConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=SQL5037.site4now.net;Initial Catalog=DB_A33D73_TT;User ID=DB_A33D73_TT_admin;Password=9838366Y2j</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProyectoTuTransporteEntities-Web.config Connection String" />
  </ItemGroup>
</Project>