@using System.Data;
@model DataTable
@{

    Layout = "~/Views/Administracion/GestionEmpleados.cshtml";
}

<center><h2 class="category">Gestión de unidades</h2></center>
<a href="~/Administracion/AgregarUnidades" type="button" class="btn btn-link">Agregar Nuevo</a>
<br />
<table table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Serie</th>
            <th>Matrícula</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @using (Html.BeginForm("GestionUnidades", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <tbody>
            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    <td>
                        <input type="text" class="form-control" value="@row["Serie"]">
                    </td>
                    <td>
                        <input type="text" class="form-control" value="@row["Matricula"]">
                    </td>
                    <td>
                        <a href="@Url.Action("DatosDeUnidades", "Administracion")/@row["Id"]" type="button" class="btn btn-info">Seleccionar</a>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>
