@using System.Data;
@using ProyectoTuTransporte.BO;
@model DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat | TuTransporte</title>
    <script src="~/Content/ChatResources/js/js-chat.js"></script>
    <link href="~/Content/ChatResources/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ChatResources/css/css-chat.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form id="form1" runat="server">
            <div>
                <div class="chat_window">
                    <div class="top_menu">
                        <div class="buttons">
                            @*<div class="button close"></div>
                                <div class="button minimize"></div>
                                <div class="button maximize"></div>*@
                            <a href="/Administracion/VerChat" class="alert alert-danger">Regresar</a>
                        </div>
                        <div class="title">
                            <p>Bandeja de entrada | TuTransporte</p>
                        </div>
                    </div>


                    <div>
                        <ul class="messages margen">
                            @using (Html.BeginForm("Chat", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                foreach (DataRow row in Model.Rows)
                                {
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <label class="panel-title" Width="60%" id="txtEnvia" name="txtEnvia">@row["PersonaEnvia"]</label>
                                        </div>
                                        <div class="panel-body">
                                            <label class="panel-body" Width="60%">@row["Mensaje"]</label>
                                        </div>
                                    </div>
                                }
                            }
                        </ul>
                    </div>


                    <div class="bottom_wrapper clearfix">
                        @using (Html.BeginForm("PublicarMensaje", "Administracion", FormMethod.Post))
                        {
                            <div class="message_input_wrapper">
                                <input value="" type="text" class="message_input" placeholder="Escribe tu mensaje aquí..." id="txtMensaje" name="txtMensaje">
                                <input type="text" class="form-control" value="@Session["Recibe"]" id="txtRecibe" name="txtRecibe">
                                <br />
                            </div>
                            <br />
                            <br />
                            <div class="">
                                <div class="icon"></div>
                                <center><button type="submit" class="btn btn-success">Enviar mesaje</button></center>
                            </div>
                        }
                    </div>

                </div>
                <div class="message_template">
                    <li class="message">
                        <div class="avatar"></div>
                        <div class="text_wrapper">
                            <div class="text"></div>
                        </div>
                    </li>
                </div>
            </div>
        </form>
    </div>
    @*<script>
            //(function () {
            //    var valor = document.getElementById('txtRecibeDAO').value;
            //    document.getElementById('txtRecibe').value = valor;
            //})();
        </script>*@
</body>
</html>
