
@{
    ViewBag.Title = "MapaAdmin";
    Layout = "~/Views/Shared/MasterAdministracion.cshtml";
}


<h2>MapaAdmin</h2>

<!-- This css is to ensure that the google map contols (zoom bar etc) show and size correctly. -->
<style>
    #map_canvas img {
        max-width: none
    }
</style>

<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

<!-- This is the div that will contain the Google Map -->

<div class="col-md-8">
    <div class="card">
        <div class="header">
            <h4 class="title">Email Statistics</h4>
            <p class="category">Last Campaign Performance</p>
        </div>
        <div class="content">
            <center>
                <div id="map_canvas" style="height: 500px"></div>
            </center>
            <div class="footer">
                <div class="legend">
                </div>
                <hr>
                <div class="stats">
                </div>
            </div>
        </div>
    </div>
</div>

<input type="text" name="origin" id="origin" value="21.00052724, -89.60118771">
<input type="text" name="destination" id="destination" value="20.98716572, -89.70135212">
<!-- script para mostrar la ruta -->

<script>
    function displayRoute(origin, destination, service, display) {
        service.route({
            origin: $('#origin').val(),
            destination: $('#destination').val(),
            //waypoints: [{ location: 'Adelaide, SA' }, { location: 'Broken Hill, NSW' }],
            travelMode: 'DRIVING',
            avoidTolls: true
        }, function (response, status) {
            if (status === 'OK') {
                display.setDirections(response);
            } else {
                alert('Could not display directions due to: ' + status);
            }
            });



    }
</script>

















