
@{
    ViewBag.Title = "Pendientes";
    Layout = "~/Views/Shared/MasterAdministracion.cshtml";
}

<center><h2 class="category">Pendientes</h2></center>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Sección de denuncias</h4>
                <p class="category"></p>
            </div>
            <div class="content">

                <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <p></p>
                    </div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                    </ul>
                    <div class="list-group">
                        <br />
                        <center>
                            <a href="" type="button" class="btn btn-info">Aprobar</a>
                            <a href="" type="button" class="btn btn-danger">Rechazar</a><br />
                        </center>
                        <br />
                    </div>
                </div>

                <div class="footer">
                    <div class="legend">
                    </div>
                    <hr>
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
