@using ReportViewerForMvc;
@{
    ViewBag.Title = "Reporte de Empleados";
    Layout = "~/Views/Shared/MasterAdministracion.cshtml";
}

<h2>Reporte de Unidades</h2>


<div class="col-md-12">
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
</div>
