@using ReportViewerForMvc;
@{
    ViewBag.Title = "ReportesEmp";
    Layout = "~/Views/Shared/MasterAdministracion.cshtml";
}

<h2>Reportes de Empleados</h2>

<div class="col-md-12">
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
</div>
