
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />
    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/Content/MasterResources/assets/img/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/simple-line-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/bootstrap.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/owl.theme.default.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/style.css">

    <!-- Modernizr JS -->
    <script src="/Content/MasterFrontEnd/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header role="banner" id="fh5co-header">
        <div class="fluid-container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    <a class="navbar-brand" href="/FrontEnd/Index"><span>Tu</span>Transporte</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#" data-nav-section="home"><span>Inicio</span></a></li>
                        <li><a href="#" data-nav-section="explore"><span>Acerca de</span></a></li>
                        <li><a href="#" data-nav-section="testimony"><span>Testimonios</span></a></li>
                        @*<li><a href="#" data-nav-section="pricing"><span>Pricing</span></a></li>
                            <li><a href="#" data-nav-section="services"><span>Servicios</span></a></li>*@
                        <li><a href="#" data-nav-section="team"><span>Equipo</span></a></li>
                        <li><a href="#" data-nav-section="faq"><span>Preguntas frecuentes</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section id="fh5co-home" data-section="home" style="background-image: url(../../Content/MasterResources/assets/img/inside.jpg);" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="to-animate">TuTransporte</h1>
                            <h2 class="to-animate">Un sistema al alcance de todos</h2>
                            <h2 class="to-animate">
                                ¡Siempre a la vanguardia para ofrecerte el mejor servicio!
                                <br>Creado para mejorar tu experiencia de transporte
                            </h2>
                            <div class="call-to-action">
                                <a href="/FrontEnd/Login" class="demo to-animate">Registarse</a>
                                <a href="/FrontEnd/Login" class="download to-animate">Iniciar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        @RenderBody()
    </div>
    <section id="fh5co-explore" data-section="explore">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">¿Que es TuTransporte?</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext to-animate">
                            <h3>Ponemos el control en tus manos, consulta la ruta que necesitas sin salir de casa.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fh5co-explore">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-push-5 to-animate-2">
                        <img class="img-responsive" src="~/Content/MasterFrontEnd/images/rutassitur.jpg" alt="work" style="border-radius:5px;">
                    </div>
                    <div class="col-md-4 col-md-pull-8 to-animate-2">
                        <div class="mt">
                            <h3>Nuestro alcance a tu disposicion.</h3>
                            <p>Consulta el recorrido de cada una de las rutas CITUR, confirma que camion llega a donde necesitas, incluso si la ruta cambia, seras el primero en saberlo.</p>
                            <ul class="list-nav">
                                <li><i class="icon-check2"></i>Consulta de todas nuestras rutas</li>
                                <li><i class="icon-check2"></i>Agilizar tu búsqueda de unidades</li>
                                <li><i class="icon-check2"></i>Notificiones de cambios en el servicio</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="fh5co-explore fh5co-explore-bg-color">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-pull-1 to-animate-3">
                        <img class="img-responsive" src="~/Content/MasterFrontEnd/images/situr_merida.jpg" alt="work" style="border-radius:5px;">
                    </div>
                    <div class="col-md-4 to-animate-3">
                        <div class="mt">
                            <div>
                                <h4><i class="icon-comment-o"></i>Mejora del servio</h4>
                                <p>Apoya a la comunidad enviando tus comentarios a través del sistema de denuncia.</p>
                            </div>
                            <div>
                                <h4><i class="icon-search"></i>Descubre las rutas</h4>
                                <p>Busca antes que nadie todas las rutas que tu proveedor de transporte público tiene para ti. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fh5co-testimony" data-section="testimony">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Testimonios</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext to-animate">
                            <h3>Conoce lo que la comunidad opina.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 to-animate">
                    <div class="wrap-testimony">
                        <div class="owl-carousel-fullwidth">
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="/Content/MasterFrontEnd/images/testimonio1.jpg" alt="user">
                                    </figure>
                                    <blockquote>
                                        <p>"Sin duda un servicio excelente, la pagina tiene una muy buena imagen, y me ha sido muy util, la recomiendo bastante."</p>
                                    </blockquote>
                                    <span>Rubén Conde, via <a href="#" class="facebook">Facebook</a></span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="/Content/MasterFrontEnd/images/testimonio2.jpg" alt="user">
                                    </figure>
                                    <blockquote>
                                        <p>"Esta muy chido, te muestra todas las rutas y puedo consultarlas siempre que las necesito."</p>
                                    </blockquote>
                                    <span>Fernando Ku, via <a href="#" class="icon-google-plus">Google+</a></span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="/Content/MasterFrontEnd/images/testimonio3.jpg" alt="user">
                                    </figure>
                                    <blockquote>
                                        <p>"Gracias a la informacion que ofrecen y a su facil acceso, puedo aprovechar mejor del transporte."</p>
                                    </blockquote>
                                    <span>Christian Canul, via <a href="#" class="twitter">Twitter</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="getting-started getting-started-1" style="background-color:#1ab188;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 to-animate">
                    <h3>Iniciando la experiencia</h3>
                    <p>Comienza a disfrutar de nuestros servicios, ¡No esperes más!</p>
                </div>
                <div class="col-md-6 to-animate-2">
                    <div class="call-to-action text-right">
                        <a href="/FrontEnd/Login" class="sign-up">Únete a la comunidad</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<section id="fh5co-pricing" data-section="pricing">
            <div class="fh5co-pricing">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 section-heading text-center">
                            <h2 class="to-animate">Plans Built For Every One</h2>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 subtext">
                                    <h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pricing">
                            <div class="col-md-3">
                                <div class="price-box to-animate-2">
                                    <h2 class="pricing-plan">Starter</h2>
                                    <div class="price"><sup class="currency">$</sup>9<small>/month</small></div>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                    <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-box to-animate-2">
                                    <h2 class="pricing-plan">Basic</h2>
                                    <div class="price"><sup class="currency">$</sup>27<small>/month</small></div>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                    <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-box to-animate-2 popular">
                                    <h2 class="pricing-plan pricing-plan-offer">Pro <span>Best Offer</span></h2>
                                    <div class="price"><sup class="currency">$</sup>74<small>/month</small></div>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                    <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-box to-animate-2">
                                    <h2 class="pricing-plan">Unlimited</h2>
                                    <div class="price"><sup class="currency">$</sup>140<small>/month</small></div>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                    <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 to-animate">
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. <a href="#">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    @*<section id="fh5co-services" data-section="services">
            <div class="fh5co-services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 section-heading text-center">
                            <h2 class="to-animate">We Offer Services</h2>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 subtext">
                                    <h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box-services">
                                <i class="icon-chemistry to-animate-2"></i>
                                <div class="fh5co-post to-animate">
                                    <h3>Hand-crafted with Detailed</h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
                                </div>
                            </div>
                            <div class="box-services">
                                <i class="icon-energy to-animate-2"></i>
                                <div class="fh5co-post to-animate">
                                    <h3>Light and Fast</h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-services">
                                <i class="icon-trophy to-animate-2"></i>
                                <div class="fh5co-post to-animate">
                                    <h3>Award-winning Landing Page</h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
                                </div>
                            </div>
                            <div class="box-services">
                                <i class="icon-paper-plane to-animate-2"></i>
                                <div class="fh5co-post to-animate">
                                    <h3>Sleek and Smooth Animation</h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-services">
                                <i class="icon-people to-animate-2"></i>
                                <div class="fh5co-post to-animate">
                                    <h3>Satisfied &amp; Happy Clients</h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
                                </div>
                            </div>
                            <div class="box-services">
                                <i class="icon-screen-desktop to-animate-2"></i>
                                <div class="fh5co-post to-animate">
                                    <h3>Looks Amazing on Devices</h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="call-to-action text-center to-animate"><a href="#" class="btn btn-learn">Learn More</a></div>
                </div>
            </div>
        </section>*@
    <section id="fh5co-team" data-section="team">
        <div class="fh5co-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-heading text-center">
                        <h2 class="to-animate">Conoce al equipo de desarrollo</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 subtext">
                                <h3 class="to-animate"></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-box text-center to-animate-2">
                            <div class="user"><img class="img-reponsive" src="~/Content/MasterFrontEnd/images/Rick.jpg" alt="Roger Garfield"></div>
                            <h3>Ricardo Chan</h3>
                            <span class="position">Co-Fundador, Desarrollador-Lider</span>
                            <p>Un proyecto que nació de la necesidad, no sólo de los involucrados en el proyecto, sino de todos los ciudadanos que recurren a este servicio. Nuestro único fin es el crear soluciones efectivas.</p>
                            <ul class="social-media">
                                <li><a href="https://www.facebook.com/Zeroman15" class="facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                                @*<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                                    <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                                    <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-box text-center to-animate-2">
                            <div class="user"><img class="img-reponsive" src="~/Content/MasterFrontEnd/images/Mon (1).jpg" alt="Roger Garfield"></div>
                            <h3>Jesús Montalvo</h3>
                            <span class="position">Co-Fundador, Programador</span>
                            <p>TuTranspoprte es una aplicación que veníamos pensando desde mucho tiempo atrás, empezó todo por una mala experiencia propia y hoy nos enorgullece poder presentarla ante la comunidad que igual usa el transporte público.</p>
                            <ul class="social-media">
                                <li><a href="https://www.facebook.com/jmontalvocanche?fref=ts" class="facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                                @*<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                                    <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                                    <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-box text-center to-animate-2">
                            <div class="user"><img class="img-reponsive" src="~/Content/MasterFrontEnd/images/Bas.jpg" alt="Roger Garfield"></div>
                            <h3>Bryan Basulto</h3>
                            <span class="position">Co-Fundador, Desarrollador Full Stack</span>
                            <p>TuTransporte el pequeño inicio del camino, una aplicación que nos llena de orgullo compartir a la comunidad, mejorando el sistema de transporte publico con el apoyo de todas las personas.</p>
                            <ul class="social-media">
                                <li><a href="https://www.facebook.com/bryan.basulto?fref=ts" class="facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                                @*<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                                    <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                                    <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fh5co-faq" data-section="faq">
        <div class="fh5co-faq">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-heading text-center">
                        <h2 class="to-animate">Preguntas frecuentes</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 subtext">
                                <h3 class="to-animate">Todo lo que necesitas saber antes de comenzar</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-faq to-animate-2">
                            <h3>¿Qué es TuTransporte?</h3>
                            <p>TuTransporte es un sistema de denuncias ciudadanas, noticias relacionadas y rutas, enfocadas a la mejora del servicio de transporte urbano que te proporciona un medio eficaz y seguro en la mejora del mismo.</p>
                        </div>
                        <div class="box-faq to-animate-2">
                            <h3>Tengo un problema con la aplicación, ¿a quién puedo contactar?</h3>
                            <p>Al final de la página se cuenta con un formulario en el que puedes hacer llegar tus comentarios al sistema de ayuda proporcionando únicamente datos básicos para llevar un correcto seguimiento y atención.</p>
                        </div>
                        <div class="box-faq to-animate-2">
                            <h3>¿Qué puedo hacer desde la página?</h3>
                            <p>El sitio web de TuTransporte te permite únicamente la gestión de tu información personal, coonsulta de noticias y rutas, el sistema de comentarios se encuentra únicamente disponible en la aplición movil.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-faq to-animate-2">
                            <h3>¿Mejora los tiempos de espera entre camiones?</h3>
                            <p>
                                No, el sistema de TuTransporte te permite hacer eficiente la gestión personal en la elección de rutas, proporciona de manera rápida y eficaz esta información, así como sistema de noticias que te advierte de los contratiempos.
                            </p>
                        </div>
                        <div class="box-faq to-animate-2">
                            <h3>¿Porqué mi ruta no aparece?</h3>
                            <p>El sistema TuTransporte se encuentra condicionado a la concesión que cada sistema de rutas haga con la aplicación por lo que puede o no estar tu ruta dentro de la lista de rutas.</p>
                        </div>
                        <div class="box-faq to-animate-2">
                            <h3>¿Es TuTransporte gratis?</h3>
                            <p>Sí, el sistema de TuTransporte es gratuito para todo el público, no existe una cuota de suscripción o compras internas este sistema es proporcionado por las concesionarias de transporte público.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    @*<section id="fh5co-trusted" data-section="trusted">
            <div class="fh5co-trusted">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 section-heading text-center">
                            <h2 class="to-animate">Trusted By</h2>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 subtext">
                                    <h3 class="to-animate">We’re trusted by these popular companies</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-6 col-sm-offset-0 col-md-offset-1">
                            <div class="partner-logo to-animate-2">
                                <img src="/Content/MasterFrontEnd/images/logo1.png" alt="Partners" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <div class="partner-logo to-animate-2">
                                <img src="/Content/MasterFrontEnd/images/logo2.png" alt="Partners" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <div class="partner-logo to-animate-2">
                                <img src="/Content/MasterFrontEnd/images/logo3.png" alt="Partners" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <div class="partner-logo to-animate-2">
                                <img src="/Content/MasterFrontEnd/images/logo4.png" alt="Partners" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="partner-logo to-animate-2">
                                <img src="/Content/MasterFrontEnd/images/logo5.png" alt="Partners" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    @*<div class="getting-started getting-started-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 to-animate">
                        <h3>Getting Started</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                    <div class="col-md-6 to-animate-2">
                        <div class="call-to-action text-right">
                            <a href="#" class="sign-up">Sign Up For Free</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div id="fh5co-footer" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-md-6 to-animate">
                    <h3 class="section-title">Nosotros</h3>
                    <p>Grupo de desarrollo conformado por jóvenes estudiantes de la carrera Tecnologías de la Información y la Comunicación, del área de Sistemas Informáticos.</p>
                    <p class="copy-right">
                        &copy; 2017 Grupo Red Bug. <br>Todos los derechos reservados. <br>
                        
                    </p>
                </div>
                <div class="col-md-6 to-animate">
                    <h3 class="section-title">Nuestra dirección</h3>
                    <ul class="contact-info">
                        <li><i class="icon-map-marker"></i>Calle 115 (Circuito Colonias Sur) No. 404 por Calle 50, Santa Rosa, 97279 Mérida, Yuc.</li>
                        <li><i class="icon-phone"></i>999 940 6102</li>
                        <li><i class="icon-envelope"></i><a href="#">redbug@hotmail.com</a></li>
                        @*<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>*@
                    </ul>
                    <h3 class="section-title">Nuestras redes sociales</h3>

                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/SITUR-Yucat%C3%A1n-867509623334339/?fref=ts" class="facebook"><i class="icon-facebook"></i></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    @*<div id="map" class="fh5co-map"></div>*@

    <!-- jQuery -->
    <script src="/Content/MasterFrontEnd/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/Content/MasterFrontEnd/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/Content/MasterFrontEnd/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/Content/MasterFrontEnd/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="/Content/MasterFrontEnd/js/jquery.stellar.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/Content/MasterFrontEnd/js/owl.carousel.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="/Content/MasterFrontEnd/js/google_map.js"></script>
    <!-- Main JS (Do not remove) -->
    <script src="/Content/MasterFrontEnd/js/main.js"></script>
</body>
</html>
