<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/Content/MasterResources/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="/Content/MasterResources/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="/Content/MasterResources/assets/css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="/Content/MasterResources/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/Content/MasterResources/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/Content/MasterResources/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="grey" data-image="/Content/MasterResources/assets/img/inside.jpg">

            <!--

                Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                Tip 2: you can also add an image using data-image tag

            -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/Administracion/Index" class="simple-text">
                        TuTransporte
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a href="/Administracion/Index">
                            <i class="pe-7s-speaker"></i>
                            <p>Noticias</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Administracion/ControlDenuncias">
                            <i class="pe-7s-headphones"></i>
                            <p>Control de denuncias</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Administracion/PerfilUsuario">
                            <i class="pe-7s-user"></i>
                            <p>Perfil de usuario</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Administracion/GestionEmpleados">
                            <i class="pe-7s-id"></i>
                            <p>Gestión de empleados</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Administracion/MapaAdmin">
                            <i class="pe-7s-map"></i>
                            <p>Gestión de rutas</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Administracion/GestionUnidades">
                            <i class="pe-7s-car"></i>
                            <p>Gestión de unidades</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        @using (Html.BeginForm("Cerrarsesion", "FrontEnd", FormMethod.Post))
                        {
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-dashboard"></i>
                                        <p class="hidden-lg hidden-md">Dashboard</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe"></i>
                                        <b class="caret hidden-sm hidden-xs"></b>
                                        <span class="notification hidden-sm hidden-xs">5</span>
                                        <p class="hidden-lg hidden-md">
                                            5 Notifications
                                            <b class="caret"></b>
                                        </p>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Notification 1</a></li>
                                        <li><a href="#">Notification 2</a></li>
                                        <li><a href="#">Notification 3</a></li>
                                        <li><a href="#">Notification 4</a></li>
                                        <li><a href="#">Another notification</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-search"></i>
                                        <p class="hidden-lg hidden-md">Search</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="">
                                        <p>Account</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <p>
                                            Dropdown
                                            <b class="caret"></b>
                                        </p>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>

                                <li><button type="submit" class="button btn-link">Cerrar sesión</button></li>


                                <li class="separator hidden-lg hidden-md"></li>
                            </ul>
                        }
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <br />
                    <p id="cuerpo"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger btn-fill pull-right">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("PublicarNoticia", "Administracion", FormMethod.Post))
    {
    <!-- Modal agregar publicación-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva publicación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label" id="titulonoticia"></label>
                                <input type="text" class="form-control" id="recipient-name" name="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="form-control-label" id="cuerponoticia"></label>
                                <textarea class="form-control" id="message-text" name="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Publicar noticia</button>
                    </div>
                </div>
            </div>
        </div>
    }


    <!--   Core JS Files   -->
    <script src="/Content/MasterResources/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/Content/MasterResources/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="/Content/MasterResources/assets/js/bootstrap-checkbox-radio-switch.js"></script>
    <!--  Charts Plugin -->
    <script src="/Content/MasterResources/assets/js/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/Content/MasterResources/assets/js/bootstrap-notify.js"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="/Content/MasterResources/assets/js/light-bootstrap-dashboard.js"></script>
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="/Content/MasterResources/assets/js/demo.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            demo.initChartist();

            $.notify({
                icon: 'pe-7s-smile',
                message: "Bienvedio a <b>TuTransporte</b> - un hermoso lugar para mejorar el día a día."

            }, {
                    type: 'info',
                    timer: 4000
                });

        });
    </script>

    <!--Maps-->
    <!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCfyDDJAmflpCHz6luQoOTPsn38JinRq3w'></script>

    <script type="text/javascript">

    @*<!-- This code tells the browser to execute the "Initialize" method only when the complete document model has been loaded. -->*@
        $(document).ready(function () {
            Initialize();
        });

        // Where all the fun happens
        function Initialize() {

            // Google has tweaked their interface somewhat - this tells the api to use that new UI
            google.maps.visualRefresh = true;
            var Mérida = new google.maps.LatLng(20.9673702, -89.59258569999997);

            // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
            var mapOptions = {
                zoom: 14,
                center: Mérida,
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };

            // This makes the div with id "map_canvas" a google map
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

            // This shows adding a simple pin "marker" - this happens to be the Tate Gallery in Liverpool!
            var myLatlng = new google.maps.LatLng(53.40091, -2.994464);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Tate Gallery'
            });

            // You can make markers different colors...  google it up!
            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')

            // a sample list of JSON encoded data of places to visit in Liverpool, UK
            // you can either make up a JSON list server side, or call it from a controller using JSONResult
            var data = [
                      { "Id": 1, "PlaceName": "Liverpool Museum", "OpeningHours": "9-5, M-F", "GeoLong": "53.410146", "GeoLat": "-2.979919" },
                      { "Id": 2, "PlaceName": "Merseyside Maritime Museum ", "OpeningHours": "9-1,2-5, M-F", "GeoLong": "53.401217", "GeoLat": "-2.993052" },
                      { "Id": 3, "PlaceName": "Walker Art Gallery", "OpeningHours": "9-7, M-F", "GeoLong": "53.409839", "GeoLat": "-2.979447" },
                      { "Id": 4, "PlaceName": "National Conservation Centre", "OpeningHours": "10-6, M-F", "GeoLong": "53.407511", "GeoLat": "-2.984683" }
            ];

            // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
            $.each(data, function (i, item) {
                var marker = new google.maps.Marker({
                    'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                    'map': map,
                    'title': item.PlaceName
                });

                // Make the marker-pin blue!
                marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

                // put in some information about each json object - in this case, the opening hours.
                var infowindow = new google.maps.InfoWindow({
                    content: "<div class='infoDiv'><h2>" + item.PlaceName + "</h2>" + "<div><h4>Opening hours: " + item.OpeningHours + "</h4></div></div>"
                });

                // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });

            })


            //Waypoinst and routes


            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer({
                draggable: true,
                map: map,
                panel: document.getElementById('right-panel')
            });

            //
            directionsDisplay.addListener('directions_changed', function () {
                computeTotalDistance(directionsDisplay.getDirections());
            });
            //

            //

            displayRoute('Perth, WA', 'Sydney, NSW', directionsService,
                directionsDisplay);
            //
            //
            

            //
            function computeTotalDistance(result) {
                var total = 0;
                var myroute = result.routes[0];
                for (var i = 0; i < myroute.legs.length; i++) {
                    total += myroute.legs[i].distance.value;
                }
                total = total / 1000;
                document.getElementById('total').innerHTML = total + ' km';
            }
            //



            function changeMarkerPosition(marker) {
                var latlng = new google.maps.LatLng(-24.397, 140.644);
                marker.setPosition(latlng);
            }


        }

    </script>


    
    





    <!--Modal confirmar cambios de rutas-->
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        function Mensaje() {
            $('#exampleModalLabel').html('¿Desea eliminar la ruta?')
            $('#cuerpo').html('Se eliminará el la ruta seleccionada \n ')
        }
    </script>

    <!--Modal agregar publicación-->
    <script>
        $('#exampleModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        function Noticia() {
            $('#titulonoticia').html('Título de la noticia')
            $('#cuerponoticia').html('Mensaje de la noticia \n ')
        }
    </script>

</body>
</html>
