
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />
    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/Content/MasterResources/assets/img/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/simple-line-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/bootstrap.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/owl.theme.default.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/Content/MasterFrontEnd/css/style.css">

    <!-- Modernizr JS -->
    <script src="/Content/MasterFrontEnd/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header role="banner" id="fh5co-header">
        <div class="fluid-container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    <a class="navbar-brand" href="/FrontEnd/Index"><span>Tu</span>Transporte</a>
                </div>
                <div id="" class="navbar-collapse collapse">
                    @using (Html.BeginForm("Cerrarsesion", "FrontEnd", FormMethod.Post))
                    {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/FrontEnd/Inicio"><span>Inicio</span></a></li>
                        <li><a href="/FrontEnd/PanelUsuario"><span>Datos del usuario</span></a></li>
                        <li><a href="/FrontEnd/Noticias"><span>Noticias</span></a></li>
                        @*<li><a href="#"><span>Rutas</span></a></li>*@
                        <li><a href="/Administracion/Chat"><span>Mensajes</span></a></li>
                        <li><a href="/FrontEnd/Pendientes"><span>Denuncias</span></a></li>
                        <li><button type="submit" class="button btn-link">Cerrar sesión</button></li>
                    </ul>
                    }
                </div>
            </nav>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <div id="fh5co-footer" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-md-6 to-animate">
                    <h3 class="section-title">Nosotros</h3>
                    <p>Grupo de desarrollo conformado por jóvenes estudiantes de la carrera Tecnologías de la Información y la Comunicación, del área de Sistemas Informáticos.</p>
                    <p class="copy-right">
                        &copy; 2017 Grupo Red Bug. <br>Todos los derechos reservados. <br>

                    </p>
                </div>
                <div class="col-md-6 to-animate">
                    <h3 class="section-title">Nuestra dirección</h3>
                    <ul class="contact-info">
                        <li><i class="icon-map-marker"></i>Calle 115 (Circuito Colonias Sur) No. 404 por Calle 50, Santa Rosa, 97279 Mérida, Yuc.</li>
                        <li><i class="icon-phone"></i>999 940 6102</li>
                        <li><i class="icon-envelope"></i><a href="#">redbug@hotmail.com</a></li>
                    </ul>
                    <h3 class="section-title">Nuestras redes sociales</h3>

                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/SITUR-Yucat%C3%A1n-867509623334339/?fref=ts" class="facebook"><i class="icon-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @*<div id="map" class="fh5co-map"></div>*@

    <!-- jQuery -->
    <script src="/Content/MasterFrontEnd/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/Content/MasterFrontEnd/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/Content/MasterFrontEnd/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/Content/MasterFrontEnd/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="/Content/MasterFrontEnd/js/jquery.stellar.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/Content/MasterFrontEnd/js/owl.carousel.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="/Content/MasterFrontEnd/js/google_map.js"></script>
    <!-- Main JS (Do not remove) -->
    <script src="/Content/MasterFrontEnd/js/main.js"></script>



    <!--modal lectura de noticias FE-->
    <script>
        $('#exampleModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        function Noticia() {
            $('#titulonoticia').html('Título de la noticia')
            $('#cuerponoticia').html('Mensaje de la noticia \n ')
        }
    </script>
</body>
</html>




