
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/MasterFrontLog.cshtml";
}

<section id="fh5co-home" data-section="home" style="background-image: url(../../Content/MasterResources/assets/img/inside.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="to-animate">TuTransporte</h1>
                        <h2 class="to-animate">Un sistema al alcance de todos</h2>
                        <h2 class="to-animate">
                            ¡Siempre a la vanguardia para ofrecerte el mejor servicio!
                            <br>Creado para mejorar tu experiencia de transporte
                        </h2>
                        <div class="call-to-action">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fh5co-explore" data-section="explore">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">¿Que es TuTransporte?</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Ponemos el control en tus manos, consulta la ruta que necesitas sin salir de casa.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fh5co-explore">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-5 to-animate-2">
                    <img class="img-responsive" src="~/Content/MasterFrontEnd/images/rutassitur.jpg" alt="work" style="border-radius:5px;">
                </div>
                <div class="col-md-4 col-md-pull-8 to-animate-2">
                    <div class="mt">
                        <h3>Nuestro alcance a tu disposicion.</h3>
                        <p>Consulta el recorrido de cada una de las rutas CITUR, confirma que camion llega a donde necesitas, incluso si la ruta cambia, seras el primero en saberlo.</p>
                        <ul class="list-nav">
                            <li><i class="icon-check2"></i>Consulta de todas nuestras rutas</li>
                            <li><i class="icon-check2"></i>Agilizar tu búsqueda de unidades</li>
                            <li><i class="icon-check2"></i>Notificiones de cambios en el servicio</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="fh5co-explore fh5co-explore-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-pull-1 to-animate-3">
                    <img class="img-responsive" src="~/Content/MasterFrontEnd/images/situr_merida.jpg" alt="work" style="border-radius:5px;">
                </div>
                <div class="col-md-4 to-animate-3">
                    <div class="mt">
                        <div>
                            <h4><i class="icon-bell"></i>Mejora del servio</h4>
                            <p>Apoya a la comunidad enviando tus comentarios a través del sistema de denuncia.</p>
                        </div>
                        <div>
                            <h4><i class="icon-video2"></i>Real Project For Real Solutions</h4>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fh5co-testimony" data-section="testimony">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Testimonios</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Conoce lo que la comunidad opina.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 to-animate">
                <div class="wrap-testimony">
                    <div class="owl-carousel-fullwidth">
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <figure>
                                    <img src="/Content/MasterFrontEnd/images/testimonio1.jpg" alt="user">
                                </figure>
                                <blockquote>
                                    <p>"Sin duda un servicio excelente, la pagina tiene una muy buena imagen, y me ha sido muy util, la recomiendo bastante."</p>
                                </blockquote>
                                <span>Rubén Conde, via <a href="#" class="facebook">Facebook</a></span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <figure>
                                    <img src="/Content/MasterFrontEnd/images/testimonio2.jpg" alt="user">
                                </figure>
                                <blockquote>
                                    <p>"Esta muy chido, te muestra todas las rutas y puedo consultarlas siempre que las necesito."</p>
                                </blockquote>
                                <span>Fernando Ku, via <a href="#" class="icon-google-plus">Google+</a></span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <figure>
                                    <img src="/Content/MasterFrontEnd/images/testimonio3.jpg" alt="user">
                                </figure>
                                <blockquote>
                                    <p>"Gracias a la informacion que ofrecen y a su facil acceso, puedo aprovechar mejor del transporte."</p>
                                </blockquote>
                                <span>Christian Canul, via <a href="#" class="twitter">Twitter</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="getting-started getting-started-1" style="background-color:#1ab188;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 to-animate">
                <h3>Iniciando la experiencia</h3>
                <p>Comienza a disfrutar de nuestros servicios, ¡No esperes más!</p>
            </div>
            <div class="col-md-6 to-animate-2">
                <div class="call-to-action text-right">
                </div>
            </div>
        </div>
    </div>
</div>
<section id="fh5co-team" data-section="team">
    <div class="fh5co-team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Conoce al equipo de desarrollo</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="to-animate"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-box text-center to-animate-2">
                        <div class="user"><img class="img-reponsive" src="~/Content/MasterFrontEnd/images/dev3.jpg" alt="Roger Garfield"></div>
                        <h3>Ricardo Chan</h3>
                        <span class="position">Co-Founder, Lead Developer</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <ul class="social-media">
                            <li><a href="https://www.facebook.com/Zeroman15" class="facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                            @*<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                                <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                                <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                                <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box text-center to-animate-2">
                        <div class="user"><img class="img-reponsive" src="~/Content/MasterFrontEnd/images/dev1.jpg" alt="Roger Garfield"></div>
                        <h3>Jésus Montalvo</h3>
                        <span class="position">Co-Founder, Product Designer</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <ul class="social-media">
                            <li><a href="https://www.facebook.com/jmontalvocanche?fref=ts" class="facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                            @*<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                                <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                                <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                                <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box text-center to-animate-2">
                        <div class="user"><img class="img-reponsive" src="~/Content/MasterFrontEnd/images/dev2.jpg" alt="Roger Garfield"></div>
                        <h3>Bryan Basulto</h3>
                        <span class="position">Full Stack Developer</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <ul class="social-media">
                            <li><a href="https://www.facebook.com/bryan.basulto?fref=ts" class="facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                            @*<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                                <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                                <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                                <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fh5co-faq" data-section="faq">
    <div class="fh5co-faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Common Questions</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="to-animate">Everything you need to know before you get started</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box-faq to-animate-2">
                        <h3>What is Union?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                    <div class="box-faq to-animate-2">
                        <h3>I have technical problem, who do I email? </h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                    <div class="box-faq to-animate-2">
                        <h3>How do I use Bato features?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-faq to-animate-2">
                        <h3>What language are available?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                    <div class="box-faq to-animate-2">
                        <h3>Can I have a username that is already taken?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                    <div class="box-faq to-animate-2">
                        <h3>Is Union free?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>