
@{
    ViewBag.Title = "Inicio | TuTransporte";
    Layout = "~/Views/Shared/MasterFrontLog.cshtml";
}

<section id="fh5co-home" data-section="home" style="background-image: url(../../Content/MasterResources/assets/img/inside.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="to-animate">TuTransporte</h1>
                        <h2 class="to-animate">Un sistema al alcance de todos</h2>
                        <h2 class="to-animate">
                            ¡Siempre a la vanguardia para ofrecerte el mejor servicio!
                            <br>Creado para mejorar tu experiencia de transporte
                        </h2>
                        <div class="call-to-action">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fh5co-explore" data-section="explore">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">¿Que es TuTransporte?</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Ponemos el control en tus manos, consulta la ruta que necesitas sin salir de casa.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fh5co-explore">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-5 to-animate-2">
                    <img class="img-responsive" src="~/Content/MasterFrontEnd/images/rutassitur.jpg" alt="work" style="border-radius:5px;">
                </div>
                <div class="col-md-4 col-md-pull-8 to-animate-2">
                    <div class="mt">
                        <h3>Nuestro alcance a tu disposicion.</h3>
                        <p>Consulta el recorrido de cada una de las rutas CITUR, confirma que camion llega a donde necesitas, incluso si la ruta cambia, seras el primero en saberlo.</p>
                        <ul class="list-nav">
                            <li><i class="icon-check2"></i>Consulta de todas nuestras rutas</li>
                            <li><i class="icon-check2"></i>Agilizar tu búsqueda de unidades</li>
                            <li><i class="icon-check2"></i>Notificiones de cambios en el servicio</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="fh5co-explore fh5co-explore-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-pull-1 to-animate-3">
                    <img class="img-responsive" src="~/Content/MasterFrontEnd/images/situr_merida.jpg" alt="work" style="border-radius:5px;">
                </div>
                <div class="col-md-4 to-animate-3">
                    <div class="mt">
                        <div>
                            <h4><i class="icon-comment-o"></i>Mejora del servio</h4>
                            <p>Apoya a la comunidad enviando tus comentarios a través del sistema de denuncia.</p>
                        </div>
                        <div>
                            <h4><i class="icon-search"></i>Descubre las rutas</h4>
                            <p>Busca antes que nadie todas las rutas que tu proveedor de transporte público tiene para ti. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fh5co-testimony" data-section="testimony">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Testimonios</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Conoce lo que la comunidad opina.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 to-animate">
                <div class="wrap-testimony">
                    <div class="owl-carousel-fullwidth">
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <figure>
                                    <img src="/Content/MasterFrontEnd/images/testimonio1.jpg" alt="user">
                                </figure>
                                <blockquote>
                                    <p>"Sin duda un servicio excelente, la pagina tiene una muy buena imagen, y me ha sido muy util, la recomiendo bastante."</p>
                                </blockquote>
                                <span>Rubén Conde, via <a href="#" class="facebook">Facebook</a></span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <figure>
                                    <img src="/Content/MasterFrontEnd/images/testimonio2.jpg" alt="user">
                                </figure>
                                <blockquote>
                                    <p>"Esta muy chido, te muestra todas las rutas y puedo consultarlas siempre que las necesito."</p>
                                </blockquote>
                                <span>Fernando Ku, via <a href="#" class="icon-google-plus">Google+</a></span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <figure>
                                    <img src="/Content/MasterFrontEnd/images/testimonio3.jpg" alt="user">
                                </figure>
                                <blockquote>
                                    <p>"Gracias a la informacion que ofrecen y a su facil acceso, puedo aprovechar mejor del transporte."</p>
                                </blockquote>
                                <span>Christian Canul, via <a href="#" class="twitter">Twitter</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="getting-started getting-started-1" style="background-color:#1ab188;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 to-animate">
                <h3>Iniciando la experiencia</h3>
                <p>Comienza a disfrutar de nuestros servicios, ¡No esperes más!</p>
            </div>
            <div class="col-md-6 to-animate-2">
                <div class="call-to-action text-right">
                </div>
            </div>
        </div>
    </div>
</div>
<section id="fh5co-team" data-section="team">
    <div class="fh5co-team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Conoce al equipo de desarrollo</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="to-animate"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-box text-center to-animate-2">
                        <div class="user"><img class="img-reponsive" src="~/Content/MasterFrontEnd/images/Rick.jpg" alt="Roger Garfield"></div>
                        <h3>Ricardo Chan</h3>
                        <span class="position">Co-Fundador, Desarrollador-Lider</span>
                        <p>Un proyecto que nació de la necesidad, no sólo de los involucrados en el proyecto, sino de todos los ciudadanos que recurren a este servicio. Nuestro único fin es el crear soluciones efectivas.</p>
                        <ul class="social-media">
                            <li><a href="https://www.facebook.com/Zeroman15" class="facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                            @*<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                                <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                                <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                                <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box text-center to-animate-2">
                        <div class="user"><img class="img-reponsive" src="~/Content/MasterFrontEnd/images/Mon.jpg" alt="Roger Garfield"></div>
                        <h3>Jesús Montalvo</h3>
                        <span class="position">Co-Fundador, Programador</span>
                        <p>TuTranspoprte es una aplicación que veníamos pensando desde mucho tiempo atrás, empezó todo por una mala experiencia propia y hoy nos enorgullece poder presentarla ante la comunidad que igual usa el transporte público.</p>
                        <ul class="social-media">
                            <li><a href="https://www.facebook.com/jmontalvocanche?fref=ts" class="facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                            @*<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                                <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                                <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                                <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box text-center to-animate-2">
                        <div class="user"><img class="img-reponsive" src="~/Content/MasterFrontEnd/images/Bas.jpg" alt="Roger Garfield"></div>
                        <h3>Bryan Basulto</h3>
                        <span class="position">Co-Fundador, Desarrollador Full Stack</span>
                        <p>TuTransporte el pequeño inicio del camino, una aplicación que nos llena de orgullo compartir a la comunidad, mejorando el sistema de transporte publico con el apoyo de todas las personas.</p>
                        <ul class="social-media">
                            <li><a href="https://www.facebook.com/bryan.basulto?fref=ts" class="facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                            @*<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                                <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                                <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                                <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fh5co-faq" data-section="faq">
    <div class="fh5co-faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Preguntas frecuentes</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="to-animate">Todo lo que necesitas saber antes de comenzar</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box-faq to-animate-2">
                        <h3>¿Qué es TuTransporte?</h3>
                        <p>TuTransporte es un sistema de denuncias ciudadanas, noticias relacionadas y rutas, enfocadas a la mejora del servicio de transporte urbano que te proporciona un medio eficaz y seguro en la mejora del mismo.</p>
                    </div>
                    <div class="box-faq to-animate-2">
                        <h3>Tengo un problema con la aplicación, ¿a quién puedo contactar?</h3>
                        <p>Al final de la página se cuenta con un formulario en el que puedes hacer llegar tus comentarios al sistema de ayuda proporcionando únicamente datos básicos para llevar un correcto seguimiento y atención.</p>
                    </div>
                    <div class="box-faq to-animate-2">
                        <h3>¿Qué puedo hacer desde la página?</h3>
                        <p>El sitio web de TuTransporte te permite únicamente la gestión de tu información personal, coonsulta de noticias y rutas, el sistema de comentarios se encuentra únicamente disponible en la aplición movil.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-faq to-animate-2">
                        <h3>¿Mejora los tiempos de espera entre camiones?</h3>
                        <p>
                            No, el sistema de TuTransporte te permite hacer eficiente la gestión personal en la elección de rutas, proporciona de manera rápida y eficaz esta información, así como sistema de noticias que te advierte de los contratiempos.
                        </p>
                    </div>
                    <div class="box-faq to-animate-2">
                        <h3>¿Porqué mi ruta no aparece?</h3>
                        <p>El sistema TuTransporte se encuentra condicionado a la concesión que cada sistema de rutas haga con la aplicación por lo que puede o no estar tu ruta dentro de la lista de rutas.</p>
                    </div>
                    <div class="box-faq to-animate-2">
                        <h3>¿Es TuTransporte gratis?</h3>
                        <p>Sí, el sistema de TuTransporte es gratuito para todo el público, no existe una cuota de suscripción o compras internas este sistema es proporcionado por las concesionarias de transporte público.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>