@using ProyectoTuTransporte.BO;
@model RegistroUsuarioBO
@{
    ViewBag.Title = "Inicio de sesión | TuTransporte";
    Layout = "~/Views/Shared/MasterLogin.cshtml";
}

<div>
    <div class="form">
        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Registrarse</a></li>
            <li class="tab"><a href="#login">Iniciar Sesión</a></li>
        </ul>
        <div class="tab-content">
            <div id="signup">
                <h1>Registro de nuevo usuario</h1>
                @using (Html.BeginForm("RegistroUsuario", "FrontEnd", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <form action="/" method="post">
                        <div class="field-wrap">
                            <label>
                                Nombre(s)<span class="req">*</span>
                            </label>
                            <input ID="txtNombre" name="txtNombre" runat="server" required autocomplete="off">

                        </div>
                        <div class="top-row">
                            <div class="field-wrap">
                                <label>
                                    Apellido Paterno<span class="req">*</span>
                                </label>
                                <input ID="txtApellidop" name="txtApellidop" runat="server" required autocomplete="off">
                            </div>

                            <div class="field-wrap">
                                <label>
                                    Apellido Materno<span class="req">*</span>
                                </label>
                                <input ID="txtApellidom" name="txtApellidom" runat="server" required autocomplete="off">
                            </div>
                        </div>
                        <div class="field-wrap">
                            <label>
                                Correo Electrónico<span class="req">*</span>
                            </label>
                            <input ID="txtCorreo" name="txtCorreo" runat="server" type="email" required autocomplete="off">
                        </div>
                        <div class="field-wrap">
                            <label>
                                Contraseña<span class="req">*</span>
                            </label>
                            <input ID="txtContra" name="txtContra" runat="server" type="password" required autocomplete="off">
                        </div>
                        <div class="field-wrap">
                            <label>
                                Confirma tu Contraseña<span class="req">*</span>
                            </label>
                            <input ID="txtContrase" name="txtContrase" runat="server" type="password" required autocomplete="off">
                        </div>
                        <div class="field-wrap">
                            <label>
                                Número Telefónico<span class="req">*</span>
                            </label>
                            <input ID="txttelefono" name="txttelefono" runat="server" type="tel" required autocomplete="off">
                        </div>
                        <button type="submit" class="button button-block">Registrarse</button>
                    </form>
                }
            </div>
            <div id="login">
                <h1>¡Bienvenido de nuevo!</h1>
                @using (Html.BeginForm("Iniciarsesion", "FrontEnd", FormMethod.Post))
                {
                    <form action="/" method="post">
                        <div class="field-wrap">

                            <label>
                                Correo Electrónico<span class="req">*</span>
                            </label>
                            <input ID="txtCorreo" name="txtCorreo" runat="server" type="email" required autocomplete="off">
                        </div>

                        <div class="field-wrap">
                            <label>
                                Contraseña<span class="req">*</span>
                            </label>
                            <input ID="txtContra" name="txtContra" runat="server" type="password" required autocomplete="off">
                        </div>
                        <p class="forgot"><a href="#">¿Olvidaste tu contraseña?</a></p>

                        <button class="button button-block">Iniciar Sesión</button>

                    </form>
                }
            </div>
        </div><!-- tab-content -->
    </div> <!-- /form -->
</div>
